# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

######################
# Compiler generated #
######################
*.o
*.out
wolf3dextract

#################
# Vim generated #
#################
*~
*.swapfile
*.swp

#########################
# Tags files from Ctags #
#########################
tags
