# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

######################
# Compiler generated #
######################
*.o
*.out
wolf3dextract
vga2ppm
snd2wav
snd2wlf

#################
# Vim generated #
#################
*~
*.swapfile
*.swp
.ycm_extra_conf*

#########################
# Tags files from Ctags #
#########################
tags
